{
  "openapi": "3.0.3",
  "info": { "title": "GitHub REST", "version": "1" },
  "servers": [{ "url": "https://api.github.com" }],
  "paths": {
    "/repos/{owner}/{repo}/issues": {
      "get": {
        "operationId": "issues/list",
        "summary": "List repository issues",
        "tags": ["issues"],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "state", "in": "query", "schema": { "type": "string", "enum": ["open", "closed", "all"] } }
        ],
        "responses": {
          "200": {
            "description": "ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": { "type": "integer" },
                      "title": { "type": "string" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "issues/create",
        "summary": "Create an issue",
        "tags": ["issues"],
        "parameters": [
          { "name": "owner", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "repo", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title"],
                "properties": {
                  "title": { "type": "string" },
                  "body": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "201": { "description": "created" } }
      }
    },
    "/repos/{owner}/{repo}/pulls": {
      "get": {
        "operationId": "pulls/list",
        "summary": "List pull requests",
        "tags": ["pulls"],
        "responses": { "200": { "description": "ok" } }
      }
    }
  }
}
